body{
    background-color:rgb(201, 210, 190);
   
footer{
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
}

}
.container{
    min-height: 100vh;
}


nav{
    display: flex;
    padding: 0 23px;
    background-color:rgb(241, 238, 244);
    font-size: 20px;
    margin-top: 0%;
   
}
nav ul{
    display: flex; 
    
}
 nav ul li {
            list-style: none;
            margin: 0 23px;
        }
nav li a {
            text-decoration: none;
            color: rgb(2, 3, 18);
            transition: all;
            transition-duration: 500ms;
        }

        nav li a:hover {
            text-decoration: none;
            color: rgb(103, 101, 235);
        }

        div.logo {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 23px;
            font-size: 20px;
        }
        .container {
            min-height: 100vh;
            font-family: poppins', sans-serif;
            max-width: 80vw;
            margin: auto;
        }

        .container h1,
        h2 {
            margin: 23px 0;
        }

        .container form {
            display: flex;
            flex-direction: column;
        }

        .container form label {
            font-size: 25px;
        }

        .container form input[type='number'],
        select,
        label {
            font-size: 25px;
            width: 23vw;
            margin-bottom: 23px;
        }

        .btn {
            width: 144px;
            padding: 5px 8px;
            font-size: 20px;
            background: #e0d0f5;
            color: black;
            border-radius: 13px;
            cursor: pointer;
        }

        .output {
            display: none;
        }

        .output table {
            width: 50vw;
            text-align: center;
            border: 2px solid black;
            font-size: 20px;
        }

        .output table th{
            padding: 3px;
        }

        @media (max-width: 600px) {
            

            nav {
                flex-direction: column;
                font-size: 14px;
            }

            nav ul li {
                margin: 5px 13px;
            }

            nav ul {
                justify-content: center;
            }

            .container {
                max-width: 95vw;
            }

            .container form input[type='number'],
            select,
            label {
                width: 80vw;
            }
        }
        
